/Programa/P_SQL/nbproject/private/
/Programa/P_Model/nbproject/private/
/Programa/P_Vista/nbproject/private/
/Programa/P_SQL/build/
/Programa/P_InterficiePersistencia/build/
/Programa/P_Model/build/
/Programa/P_Model/dist/
/Programa/P_InterficiePersistencia/dist/
